.star {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  color: lightgray;
}

.star.filled {
  color: gold;
}

.star.empty {
  color: lightgray;
}

.star:hover {
  transform: scale(1.2);
  color: gold;
}
